@import "mixin";

body {
    margin: 0;    
    margin-top: 5%;
    padding: 4vw;    
    display: block;
    font-family: 'Tilt Neon', cursive;
    background-color: rgb(168, 214, 255);
    @include tablet {
       margin: 3vw 10vw 5vw 10vw;
       padding: 6vw 10vw 6vw 10vw;
    }
    @include desktop {
        margin: 2vw 18vw 2vw 18vw;
    }  
}
/* Essai de NightMode: toggle créé, mais intégration du css à revoir
(problème de conteneur + d'envoi du nightmode dans les différents composants)
.night-mode {
    background-color: rgb(0, 58, 109);
    color:rgb(232, 244, 255);
    .btn-new {
        background-color: white;
        color:#121648;
        &:hover{
            background-color: #1f268742;
            color:white;
            cursor: pointer;
        }
        @include tablet {
            width: 9vw;
            height: 4vw;
            font-size: 2vw;
            &:hover{
                background-color: #1f268742;
                color:white;
                cursor: pointer;
            }
        }
        @include desktop {
            width: 7vw;
            height: 2.5vw;
            font-size: 1.5vw;
            &:hover{
                background-color: #1f268742;
                color:white;
                cursor: pointer;
            }
        }
    }
    .btn-clear {
        background-color: white;
        color:#121648;
        &:hover{
            background-color: #1f268742;
            color:white;
            cursor: pointer;
        }
        @include tablet {
            width: 12vw;
            height: 4vw;
            font-size: 2vw;
            &:hover{
                background-color: #1f268742;
                color:white;
                cursor: pointer;
            }
        }
        @include desktop {
            width: 9vw;
            height: 2.5vw;
            font-size: 1.5vw;
            &:hover{
                background-color: #1f268742;
                color:white;
                cursor: pointer;
            }
        }
    }
}*/
