@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import "mixin";

.div-new {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:  5vw 0 7vw 10vw;
    line-height: 10vw;
    @include tablet {
        margin: 2vw 0 3vw 10vw;
        font-size: 3vw;
        line-height: 8vw;
    }
    @include desktop {
        margin: 1vw 0 1vw 8.5vw;
        font-size: 2.5vw;
        line-height: 5vw;
    }
    .input-new {
        width: 70vw;
        border: none;
        @include tablet {
            width: 40vw;
            height: 2.5vw;
        }
        @include desktop {
            width: 25vw;
            height: 1.5vw;
        }
    }
    .div-btn {
        width: 38vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include tablet {
            width: 22vw;
        }
        @include desktop {
            width: 17vw;
        }
        .btn-new {
            width: 15vw;
            height: 6vw;
            margin-top: 1.5vw;
            color: white;
            font-family: 'Tilt Neon', cursive;
            border: none;
            border-radius: 8px;
            background-color: #1f268742;
            &:hover{
                color:#121648;
                cursor: pointer;
            }
            @include tablet {
                width: 9vw;
                height: 4vw;
                font-size: 2vw;
                &:hover{
                    color:#121648;
                    cursor: pointer;
                }
            }
            @include desktop {
                width: 7vw;
                height: 2.5vw;
                font-size: 1.5vw;
                &:hover{
                    color:#121648;
                    cursor: pointer;
                }
            }
        }
        .btn-clear {
            width:20vw;
            height: 6vw;
            margin-top: 1.5vw;
            color: white;
            font-family: 'Tilt Neon', cursive;
            border: none;
            border-radius: 8px;
            background-color: #1f268742;
            &:hover{
                color:#121648;
                cursor: pointer;
            }
            @include tablet {
                width: 12vw;
                height: 4vw;
                font-size: 2vw;
                &:hover{
                    color:#121648;
                    cursor: pointer;
                }
            }
            @include desktop {
                width: 9vw;
                height: 2.5vw;
                font-size: 1.5vw;
                &:hover{
                    color:#121648;
                    cursor: pointer;
                }
            }
        }
    }
}