@import 'mixin';

.switch {
    position: relative;
    display: inline-block;
    width: 9vw;
    height: 4vw;
    margin-bottom: 8vw;
    @include tablet {
      width: 3.5vw;
      height: 1.6vw;
      margin-bottom: 4vw;
    }
    @include desktop {
      margin-bottom: 3vw;
    }
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    height: 3.3vw;
    width: 3.3vw;
    left: 0.7vw;
    bottom: 0.3vw;
    content: "";
    background-color: rgb(168, 214, 255) ;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    @include tablet {
      height: 1.3vw;
      width: 1.3vw;
      left: 0.3vw;
      bottom: 0.1vw;
    }
  }
  
  input:checked + .slider {
    background-color: #1f268489;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1f268489;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(4.4vw);
    -ms-transform: translateX(4.4vw);
    transform: translateX(4.4vw);
    @include tablet {
      -webkit-transform: translateX(1.6vw);
      -ms-transform: translateX(1.6vw);
      transform: translateX(1.6vw);
    }
  }
  